.above_menu Choose From A Category
.menu_box
  -@categories.each do |category|
    .menu_button= link_to "#{category.name}", category_path(category)
    %br
    %br


.right_of_menu
  -@skills.each_with_index do |skill, index|
    .well
      %h2= skill.title
      =image_tag skill.image
      .right_of_image
        %strong= link_to "hi go to #{skill.title}", skill.url, :target => '_blank'
        %br
        %strong.code#message Description:
        %br
        %strong= wrap(skill.description.to_s, 65)
        %br
        %strong.code#message Price:
        %strong= skill.price
    .clear
.top_of_menu
  = link_to  'create a skill', new_skill_path
  = link_to 'New Category', new_category_path
