%fieldset{:class => "rating"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 5.0, 4.5)}
  %label{:class => "full", :for => "#{@skill.id} star5.0", :title => "5.0"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 4.5, 4.0)}
  %label{:class => "half", :for => "#{@skill.id} star4.5", :title => "4.5"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 4.0, 3.5)}
  %label{:class => "full", :for => "#{@skill.id} star4.0", :title => "4.0"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 3.5, 3.0)}
  %label{:class => "half", :for => "#{@skill.id} star3.5", :title => "3.5"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 3.0, 2.5)}
  %label{:class => "full", :for => "#{@skill.id} star3.0", :title => "3.0"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 2.5, 2.0)}
  %label{:class => "half", :for => "#{@skill.id} star2.5", :title => "2.5"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 2.0, 1.5)}
  %label{:class => "full", :for => "#{@skill.id} star2.0", :title => "2.0"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 1.5, 1.0)}
  %label{:class => "half", :for => "#{@skill.id} star1.5", :title => "1.5"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 1.0, 0.5)}
  %label{:class => "full", :for => "#{@skill.id} star1.0", :title => "1.0"}
  %input{radio_input(@skill.average_rating, @skill.id, @skill.title, 0.5, 0.0)}
  %label{:class => "half", :for => "#{@skill.id} star0.5", :title => "0.5"}
= @skill.average_rating
.right_of_menu
  -@skill.reviews.each do |review|
    %br
    .well
      =review.content
      =review.rating

= form_for [@skill, Review.new] do |f|
  %label Rate this skill
  = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, "Star")]})
  %br  
  %label Write a review
  %br
  = f.text_area :content, rows: 6, class: "span6"
  %fieldset.actions.clearfix    
  %input(type="submit" value="Submit" class="btn")

