%strong= @category.name
.menu_box
  -@categories.each do |category|
    .menu_button= link_to "#{category.name}", category_path(category)
    %br
    %br

.right_of_menu
  -@category.skills.each do |skill|
    .skill_position
      %h2= skill.title
      =image_tag skill.image
      .right_of_image
        %strong= skill.url
        %br
        %strong= skill.description
        %br
        %strong= skill.price
